DATABASE_URL="postgresql://postgres:TU_PASSWORD@localhost:5432/ferreteria_db"
JWT_SECRET="cambia_esto_por_una_clave_secreta_muy_larga_y_segura_min_32_chars"
PORT=3000
NODE_ENV=development
BASE_URL="http://localhost:3000"
